body {
    display: flex;
    flex-direction: column;
    align-items: center
}

h1 {
    text-align: center;
}

.movies-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.poster img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.details {
    flex: 1;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.info {
    font-size: 0.95em;
    line-height: 1.4;
}
