body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("movie-background-collage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}

h1 {
    text-align: center;
    color: #ffc107
}

.movies-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px;
    padding: 10px;
    border-radius: 8px;
}

.poster img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.details {
    flex: 1;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffc107
}

.info {
    font-size: 0.95em;
    line-height: 1.4;
}

.weather-values {
    color: #ffc107
}
